body{
  margin: auto;
  font-family: 'Oswald', sans-serif;
  background-color: linear-gradient(to bottom, #1de5e2,#b588f7);
  background-image: url("cake.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#withImage{
  background-repeat: repeat;
  background-image: url("balloon.jpg");
  font-size: 140%;
  color: 	#C12957;
  background-size: 100%;
  font-weight: 300;
}

.btn {
  background-color: lightgoldenrodyellow;
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Oswald', sans-serif;
}
.button2{
  background-color: lemonchiffon;
  border: 2px solid lightslategray;
  color: midnightblue;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Oswald', sans-serif;
}

#without{
  font-size: 130%;
}

#title1{
  color: #905a80;
}
#title5{
  color: #905a80;
}
#title3{
  color: #905a80;
}
#title2{
  color: #b08fb8;
}
#title4{
  color: #b08fb8;
}

#profile{
  color: #ffd27f;
}